:root {
    --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --r-main-font: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--font-emoji);
    --r-heading-font: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif, var(--font-emoji);
    --r-heading-font-weight: 600;
    --r-heading-text-transform: none;
}

.reveal a {
    text-decoration: underline;
}

.reveal table.noborder td {
    border-bottom: none;
}

.reveal .controls {
    --r-link-color: var(--r-main-color);
}

.reveal .progress {
    --r-link-color: var(--r-main-color);
}

.reveal .slide-number {
    right: unset;
    left: 8px;
    font-family: inherit;
    font-size: 18px;
}

.reveal .slide-number a {
    text-decoration: none;
}

.reveal .slide-number .slide-number-delimiter {
    margin: 0;
}

.reveal section.full-height {
    top: 0;
    height: 100%;
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    gap: var(--r-block-margin);
}

.reveal section.full-height > * {
    margin-top: 0;
    margin-bottom: 0;
}

.columns {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
